<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyLane</title>
    <link rel="stylesheet" href="/stylesheet/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="/images/login.svg" alt="Login-illustartion" />
      </div>
      <form action="/login" method="post" class="Login">
        <div class="text">
          <h1>WelcomeBack</h1>
          <p>Login to your account to <br />continue your journey</p>
        </div>
        <div class="error" style="display: none">
          <p style="color: white">this is an error</p>
        </div>
        <div class="inputWrapper inputEmail">
          <input
            type="email"
            class="email"
            name="email"
            placeholder=" "
            required
          />
          <label>Email</label>
          <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="inputWrapper inputPassword">
          <input
            type="password"
            class="password"
            name="password"
            placeholder=" "
            required
          />
          <label>Password</label>
          <i class="fa-solid fa-eye-slash"></i>
        </div>
        <div class="forBtn">
          <div class="forgot">
            <a href="#">forgotPassword</a>
          </div>
          <div class="button">
            <button>Signin</button>
          </div>
        </div>
        <span class="line"></span>
        <p>or</p>
        <div class="google">
          <button type="button" class="login-with-google-btn">
            Sign in with Google
          </button>
        </div>
        <div class="Register">
          <p>Don"t have an account yet ?<a href="/register">Signup</a></p>
        </div>
      </form>
    </div>
    <script
      src="https://kit.fontawesome.com/c2025843a8.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="scripts/login.js"></script>
  </body>
</html>
